h1{
    color:white;
    background-color: black;
}
h2{
    background-color: purple;
    color: white;
    text-align: center;
}
h3{
    background-color: lightskyblue;
    text-align: right;
    text-decoration: underline;

}

span{
    color:aqua;
}

}